.card {
    color: #222222;
    background: lightgray;
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    /*
    Desafío:
    Agregue relleno. */
    padding: 20px;

    /* Si quiero poner un borde a la tarjeta: */
    border: 3px solid #222222;

    /* Si quiero redondear los bordes: */
    border-radius: 20px;
}