/*
Desafío:
Envuelva la sección "hero" (title, button, logo) en un <div>
y establezca como imagen de fondo la imagen de la galaxia. Esto 
te obligan a agregar también algo de relleno en el "hero" <div>.

Agregar un "Terms and conditions apply" <h3> debajo de
la sección "hero".

PD: es probable que su diseño se vea alterado por el
margen predeterminado de la etiqueta <body>.
*/
body {
    margin: 0;
    color: #82a5ca;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

#hero {
    background-image: url("images/galaxy.webp");
    background-size: cover;
    padding: 10px 0 40px 0;
}

#main-logo {
    width: 100px;
}

/*
Desafío:
Añade un borde borroso alrededor de <h1> usando la técnica
de sombra de texto.
Establezca el desenfoque en 4px y el color en negro.
*/

#title {
    text-shadow: 0px 0px 4px black;
}

.btn {
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: 'Orbitron', sans-serif;
    color: #82a5ca;
    font-weight: 800;
}

.underline {
    border-bottom: 4px solid white;
}