/*
Desafío:
Cambie el fondo del sitio a un degradado que vaya de un color
en la parte superior a otro color en la parte inferior.
*/

body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#c9b5ae4d, #c9b5ae);
    color: #ffffff;
}

h1 {
    text-shadow: 0 0 4px black;
}

h2,
h3,
h4,
p {
    text-shadow: 0 0 2px black;
}

#ElVicDev {
    width: 150px;
    border-radius: 10%;
    border: 6px solid #c9b5ae4d;
    margin-bottom: 10px;
}

#bday-age {
    background: #c9b5ae4d;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #c9b5ae4d;
    padding: 5px 10px;
    border-radius: 5px;
}

/*
Desafío:
Primero, envuelva los elementos HTML en un <div> con
un id llamado "header".
Luego, seleccione el "header" y use flexbox.
*/
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
Desafío:
1.  Crea una sección de obsequios <div> que envuelva todos 
    los elementos del primer obsequio.
2.  Agrega los elementos <h2>, <h3> e <img> y dales a cada 
    uno sus propias clases.
3.  Aplica estilo a los elementos.
Nota: la imagen debe tener 400 píxeles de ancho.
*/
.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
    text-shadow: 0 0 2px black;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

/*
Desafío:
"Reparar" el <div> "gift-img" para que se parezca nuevamente
al diseño proporcionado.
Necesita una altura (debe ser un cuadrado), una
imagen de fondo y volver a estar centrado.
*/
.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("images/happy.gif");
}

#gift-img-hot:hover {
    background-image: url("images/hot.gif");
}

#gift-img-genius:hover {
    background-image: url("images/genius.gif");
}

#gift-img-badass:hover {
    background-image: url("images/badass.gif");
}

#gift-img-cheers:hover {
    background-image: url("images/cheers.gif");
}

#footer {
    font-style: italic;
    text-shadow: 0 0 5px black;
    width: 400px;
    margin: 40px auto 20px;
}