body {
    margin: 20px;
    /*
    Desafío:
    Establezca la fuente en Verdana.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

/*
Desafío:
1. Dale una clase al div de la tarjeta (nómbrala "card")
2. Seleccione la clase de tarjeta y asígnele un borde azul punteado.
3. Añade 20 píxeles de relleno en todos los lados de la tarjeta.
*/

.card {
    /*
    Desafío:
    Dale a la tarjeta un ancho de 400px y céntrala..
    */
    width: 400px;
    /* 
    Desafío:
    Reemplace las dos propiedades de margen con una 
    abreviatura de margen único.
    */
    /*  margin-left: auto;
        margin-right: auto; */
    margin: 0 auto;

    padding: 20px;
    display: flex;
    /*
    Desafío:
    Agregar espacio horizontal alrededor de los elementos secundarios flexibles.
    Sugerencia: busque en Google "justificar contenido"
    */
    justify-content: space-around;
    /*
    Desafío:
    Centrar el texto en los elementos <p> y <h4>.
    Nota: solo debes agregar UNA propiedad, ya que la herencia
    debería encargarse de aplicarla a ambos elementos.
    */
    text-align: center;
    /* 
    Desafío:
    Añade colores a la tarjeta.
    black - #2b2839 (El color del texto)
    background-color: #c9b5ae4d
    border-bottom: #c9b5ae
    */
    color: #2b2839;
    background-color: #c9b5ae4d;
    border-bottom: 6px solid #c9b5ae;
}

/*
Desafío:
Crea una clase de utilidad para el borde azul punteado.
Proporcione la clase a ambos hijos de flexbox en el HTML.
*/

.border-blue {
    border: 1px dotted blue;

}